body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.buttons {
    font-size: 4em;
    display: flex;
    justify-content: center;
}

.button, .value {
    line-height: 1;
    padding: 2rem;
    margin: 2rem;
    border: medium solid;
    min-height: 1em;
    min-width: 1em;
}

.button {
    cursor: pointer;
    user-select: none;
}

.minus {
    color: lightcoral;
}

.plus {
    color: lightseagreen;
}

.value {
    min-width: 2em;
}

.state {
    min-width: 2em;
}